/*Método Cascada*/
/* .title {
    color: aliceblue;
    color: aqua;
    color: brown;
} */
/*Valor de los Selectores según su Especificidad
1 - Selectores de Etiqueta, Pseudoelementos (::)
10 - Selectores de Clase, Pseudoclases (:), []
100 - Selectores de ID 
11 - Selectores Combinados
*/
/* h1 {
    color: blue;
}
.title {
    color: red;
}
#title {
    color: coral;
}
header .title {
    color: palevioletred;
} */

/*Método Herencia (inherit)*/
/* header {
    font-family: cursive;
    color: blueviolet; 
}
a {
    font-family: inherit;
    color: inherit;
}
input {
    font-family: inherit;
} */
