/*
    Los SELECTORES van a definir cuales elementos
    van a ser modificados. Todos los elementos 
    del Html que coincidan con el Selector se verán
    afectados por los estilos del Selector
*/ 

/*
    Para modificar varios selectores de Etiqueta en la misma línea
    se coloca el selector y luego una coma (h2, p, img)
*/

/*Selector Universal (*)*/
/* * {
    color: burlywood;
    font-size: medium;
} */

/*Selector de Tipo, Nombre, o Etiqueta*/
/* h2 {
    color: cornflowerblue;
    font-size: 20px;
} */

/*Selector de Clase (class)*/
/* .titulo {
    color: burlywood;
    font-size: 30px;
    border: 2px dotted black;
} */

/*Esta propiedad con este valor nos indica que al elemento se le pondrá la letra en negrita*/
/* .negrita {
    font-weight: bold;  
} */

/*Selector de Identificador Único (id)*/
/* #titulo {
    color: mediumaquamarine;
    font-size: 15px;
} */

/*Selectores Combinadores*/
/* .abuelo .titulo {
    color: aquamarine;
    font-size: 40px;
}

.abuelo>.titulo {
     color: blue;
     font-size: 20px;
} */